<div class="footer">
    <div class="space-between endfooter">
        <div>
            <span class="lastfooter">Copyright © All rights reserved by</span>
            <span class="foot_word_edit lastfooter"><b>ABC Hospital</b></span>
        </div>
        <div>
            <span class="foot_word_edit lastfooter "><b>Connect Us</b></span>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <i class="fa fa-sitemap" aria-hidden="true"></i>

        </div>
    </div>
</div>